@use '../../../_css/queries.scss' as *;

.nav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;

  > * {
    text-decoration: none;
  }
  .activeLink {
    padding: 0 1rem 0 1rem ;  
    border-radius: 4px;
    background-color: rgba(223, 225, 225, 0.904);
  }
  @media only screen and (max-width: 640px) {

    display: none;
  }
}

